# ignore generated .c files, and other module build traces
*.c
*.bs
blib
pm_to_blib
Makefile
!/File-Glob/bsd_glob.c
!/XS-APItest/core.c
!/XS-APItest/exception.c
!/XS-APItest/notcore.c
!/XS-Typemap/stdio.c
/attributes/Makefile.PL
/constant/Makefile.PL
/Data-Dumper/Makefile.PL
/ExtUtils-Command/Makefile.PL
/ExtUtils-Constant/Makefile.PL
/ExtUtils-Install/Makefile.PL
/ExtUtils-Manifest/Makefile.PL
/ExtUtils-ParseXS/Makefile.PL
/Filter-Util-Call/Makefile.PL
/Hash-Util-FieldHash/Makefile.PL
/IPC-Cmd/Makefile.PL
/IPC-Open2/Makefile.PL
/IPC-Open3/Makefile.PL
/Math-BigInt-FastCalc/Makefile.PL
/Module-Load/Makefile.PL
/Module-Load-Conditional/Makefile.PL
/Module-Loaded/Makefile.PL
/mro/Makefile.PL
/Opcode/Makefile.PL
/PerlIO-encoding/Makefile.PL
/PerlIO-scalar/Makefile.PL
/PerlIO-via/Makefile.PL
/Pod-Plainer/Makefile.PL
/Sys-Hostname/Makefile.PL
/Test-Harness/Makefile.PL
/Text-ParseWords/Makefile.PL
/Text-Soundex/Makefile.PL
/Text-Tabs/Makefile.PL

# ignore all vim swap files but the one bundled in Module::Pluggable for testing
*.swp
!/Module-Pluggable/t/lib/EditorJunk/Plugin/Bar.pm.swp
